<main class="auth-container">
  <div class="card auth-card">
 
    <h3>Login</h3>

      <a [routerLink]="['/register']">Click here Signup if you don't have a account!</a>

      <form [formGroup]="loginForm">

        <div class="form-field">
          <input type="text" class="input" placeholder="Username" formControlName="username">
        </div>

        <div class="form-field">
          <input type="password" class="input" placeholder="Password" formControlName="password">
        </div>

        <div class="form-field">
          <button class="btn btn-primary full-width" (click)="login()">
            Login
          </button>
        </div>

      </form>

  </div>
</main>
