<ng-template #customLoadingTemplate>
  <div class="custom-class">
    <h3>{{ loaderText }}...</h3>
  </div>
</ng-template>
<ngx-loading
  [show]="showLoader"
  [template]="customLoadingTemplate"
  [config]="loaderConfigs"
></ngx-loading>
