<ion-list>
  @for(i of dummyArray; track i){
  <ion-item lines="none" class="ion-padding-bottom">
    <ion-avatar slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-avatar>

    <ion-skeleton-text animated style="height: 40px"></ion-skeleton-text>
  </ion-item>
  }
</ion-list>