<main class="auth-container">
  <div class="card auth-card">
 
    <h3>User Signup</h3>

      <a [routerLink]="['/login']">Click here to login if you already have an account!</a>

      <form [formGroup]="signupForm">

        <div class="form-field">
          <input type="text" class="input" placeholder="Username" formControlName="username">
        </div>

        <div class="form-field">
          <input type="password" class="input" placeholder="Password" formControlName="password">
        </div>

        <div class="form-field">
          <button class="btn btn-primary full-width" (click)="signup()">
            Register
          </button>
        </div>

      </form>

  </div>
</main>
