nav {

  background-color: #242424;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0 1rem;

  h3{
    cursor: pointer;
  }

  .nav-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .btn {
      padding: 0.6rem;
    }
  }
}

.menu-icon {
  height: 18px;
  width: auto;
}

.watchlist-icon {
  height: 24px !important;
  width: auto;
}
