<nav>
  <h3 [routerLink]="['home']">Ion Movies</h3>

  <div class="nav-buttons">
    @if(!isLoggedin && currentRoute !== '/login') {
    <button class="btn" [routerLink]="['/login']" toolbar="Search Movies">
      Login
    </button>
    } @if(currentRoute !== '/search') {
    <button class="btn" [routerLink]="['/search']" toolbar="Search Movies">
      <span
        ><img class="menu-icon" src="assets/icon/search-icon.svg" alt=""
      /></span>
    </button>
    } @if(isLoggedin && currentRoute !== '/watchlist') {
    <button class="btn" [routerLink]="['/watchlist']" toolbar="Search Movies">
      <span
        ><img
          class="menu-icon watchlist-icon"
          src="assets/icon/watchlist-icon.svg"
          alt=""
      /></span>
    </button>
    } @if(isLoggedin) {
    <button class="btn" (click)="logout()" toolbar="Search Movies">
      <span
        ><img
          class="menu-icon watchlist-icon"
          src="assets/icon/logout-icon.svg"
          alt=""
      /></span>
    </button>
    }
  </div>
</nav>
