<div class="movie-list">
  @for (item of movies; track item.id) {
  <div class="card list-item">
    <div class="list-item-start" [routerLink]="['/details', item.id]">
      <div class="movie-avatar">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path" alt="poster" />
      </div>

      <div class="movie-label">
        <h5>{{ item.title }}</h5>

        <p>{{ item.release_date | date : "y" }}</p>
      </div>
    </div>

    <div class="list-item-end">
      @if (showDelete) {
      <img src="assets/icon/delete-icon.svg" class="delete-icon" alt="" (click)="deleteMovie(item.id)"/>
      }

      <div class="rating" [routerLink]="['/details', item.id]">
        {{ item.vote_average }}
      </div>
    </div>
  </div>
  }@empty { @if (!isLoading) {
  <div class="card list-item">
    <div class="movie-lable center">No movies found</div>
  </div>
  }}
</div>
