.movie-list {
  width: 100%;
  padding: 0.6rem;
  .list-item {
    margin-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .list-item-start {
      width: 80%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .movie-avatar {
        height: 3rem;
        width: 3rem;

        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;

        img {
          width: 100%;
        }
      }
    }

    .movie-label {
      padding: 0 1rem;
      max-width: 84%;
      h5 {
        margin: 4px 0;
        font-size: 1rem;
      }

      p {
        margin: 2px 0;
        font-size: 12px;
      }
    }

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .list-item-end {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .delete-icon {
        height: 1.4rem;
        width: auto;
        cursor: pointer;
        margin-right: 0.6rem;
      }

      .rating {
        padding: 0.2rem 0.4rem;
        border-radius: 4px;
        background-color: #247175;
        font-size: 12px;
      }
    }
  }
}
