<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title class="text-center page-header" size="small"
        >Watchlist</ion-title
      >
    </ion-toolbar>
  </ion-header>
  @if(isLoading) {
  <app-skeleton-loader></app-skeleton-loader>
  }

  <app-movie-list
    [movies]="movies"
    [isLoading]="isLoading"
    [showDelete]="true"
  ></app-movie-list>
</ion-content>
