/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
  --ion-color-primary: #346751 !important;
  // Similarly, override other colors like secondary, warning, etc.
}

.btn {
  border: none;
  border-radius: 4px;
  padding: 0.8rem 1.2rem;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

.btn-primary {
  border: 2px solid #ff4742;
  background-color: #ff4742;
  &:hover {
    background-color: transparent;
    color: #ff4742;
  }
}

.btn-blue {
  background-color: #36a9ae;
  border: 2px solid #36a9ae;

  &:hover {
    background-color: transparent;
  }
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid #ff4742;
  color: #ff4742;

  &:hover {
    background-color: #ff4742;
    color: #fff;
  }
}

.card {
  background-color: #161616;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 12px;
  width: 100%;
}

.form-field {
  padding: 0.6rem 0;
  width: 100%;
  .input {
    flex: 1 1 0%;
    border-radius: 0.25rem;
    background-color: #272729;
    padding: 0.8rem 1.2rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: none;
    width: 100%;
    &:active,
    &:focus {
      background-color: #323235;
    }
  }
}

.text-center {
  text-align: center;
  vertical-align: middle;
}

.page-header {
  width: 100%;
  font-size: 12px;
}

.full-width {
  width: 100%;
}

.auth-container {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem;

  .auth-card {
    max-width: 28rem;
  }
}
