<ion-content>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Search Movies..."
      (keyup)="onSearchInput($event)"
    ></ion-searchbar>
  </ion-toolbar>

  @if(isLoading) {
  <ion-list>
    @for(i of dummyArray; track i){
    <ion-item lines="none" class="ion-padding-bottom">
      <ion-avatar slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-avatar>

      <ion-skeleton-text animated style="height: 40px"></ion-skeleton-text>
    </ion-item>
    }
  </ion-list>
  }@else if(error) {
  <ion-alert
    header="Error"
    [message]="error"
    isOpen="true"
    [buttons]="['Ok']"
  ></ion-alert>
  }

  <app-movie-list [movies]="movies" [isLoading]="isLoading"></app-movie-list>
</ion-content>
