<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="small" class="text-center page-header">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  @if(isLoading) {
  <app-skeleton-loader></app-skeleton-loader>
  }@else if(error) {
  <ion-alert
    header="Error"
    [message]="error"
    isOpen="true"
    [buttons]="['Ok']"
  ></ion-alert>
  }

  <app-movie-list [movies]="movies" [isLoading]="isLoading"></app-movie-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more movie..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
