.details-container {
  width: 100%;
  padding: 0.6rem;
  .details-card {
    max-width: 60rem;
    margin: auto;

    .movie-title-container {
      background-color: #247175;
      margin-bottom: 0.6rem;
      position: relative;
      h4 {
        margin: 0;
        max-width: 95%;
      }

      .watchlist-button {
        position: absolute;
        right: 10px;
        top: 0;
        padding: 0;

        img {
          height: 26px;
          width: auto;
        }
      }
    }

    .movie-details-top {
      display: flex;
      justify-content: space-between;
      align-items: self-start;

      .movie-poster-container {
        margin-right: 0.6rem;
        img {
          border-radius: 4px;
        }
      }

      .movie-details {
        flex-grow: 1;
        max-width: 48%;
        .genres {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .genre {
            padding: 0.2rem 0.4rem;
            border-radius: 4px;
            background-color: #247175;
            font-size: 12px;
            margin-right: 0.6rem;
          }
        }
      }
    }

    .movie-details-bottom {
      width: 100%;

      .details-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.6rem 0;
        border-bottom: #121212 2px solid;
      }
    }
  }
}

ion-badge {
  margin-left: 8px;
}
.add-watchlist {
  height: 20px;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .details-container {
    .details-card {
      .movie-details-top {
        flex-direction: column;
        .movie-poster-container {
          margin: 0;
        }
        .movie-details {
          max-width: 100%;
        }
      }
    }
  }
}
