<div class="details-container">
  <div class="details-card card">
    <div class="movie-title-container card">
      <h4>
        {{ movie()?.title }}
        <small>({{ movie()?.release_date | date: 'y' }})</small>
      </h4>
      <button class="watchlist-button btn" (click)="addToWatchList()">
        <img src="assets/icon/add-to-watchlist-icon.svg" alt="" />
      </button>
    </div>

    <div class="movie-details-top">
      <div class="movie-poster-container">
        <img [src]="moviePosterURL" alt="{{ movie()?.title }} poster" />
      </div>
      <div class="movie-details">
        <div class="genres">
          @for (genre of movie()?.genres; track genre.id) {
          <div class="genre">{{genre.name}}</div>
          }
        </div>

        <div class="overview">
          <p>{{movie()?.overview}}</p>
        </div>
      </div>
    </div>

    <div class="movie-details-bottom">
      <div class="details-row">
        <p>Rating:</p>
        <p>{{movie()?.vote_average}}</p>
      </div>

      <div class="details-row">
        <p>Runtime:</p>
        <p>{{movie()?.runtime}} Min</p>
      </div>

      <div class="details-row">
        <p>Popularity:</p>
        <p>{{movie()?.popularity}}</p>
      </div>
    </div>
  </div>
</div>
